.accountSystem-list li a {
	border-bottom :solid 1px #CCC;
	cursor:pointer;
	display:block;
	line-height : 50px;
}

.accountSystem-list li a:hover {
}

/* adiciona uma linha vertical para identificar o nivel das contas */
/* verificar essa construcao somente em CSS http://cssdeck.com/labs/pure-css-tree-menu-framework */
.accountTree ul {
	list-style-type: none;
	background: url(/resources/images/vline.png) repeat-y;
}

.benefit-list {
	padding-left: 1.3em;
}

.btn-convert {
	margin: 0 0 1em 0;
}

.copyright {
	
}

.error-list {
	background:#ffecec;
	border:1px solid #f5aca6;
	border-radius:10px;
    color: #8a1f11;
    padding:1em;
}
.error-list li {
	margin-left: 1em;
}


.logo {
	background: url("/resources/images/logo-bufunfa.png") no-repeat;
	border : 0;
	display : inline-block;
	height : 60px;
	margin: 10 0;
	text-indent: -1000em;
	width : 240px; 		/*		adapt size of image logo to this sizes */
	 
	
}

.headline {
	margin :0;
}

.lead {
	margin-bottom: 10px;
}

.searchFilterForm {
	border: solid 1px #ccc;
	border-radius: 4px;
	padding: 10px;
}

.transactionInnerMenu {
	list-style-type: none;
	margin: 15px 0 30px;
	padding: 0;
}

.transactionList {
	margin-top: 10px;
}

.transactionList p {
	color: #333;
	margin: 0;
	
}

.transactionList .glyphicon {
	color: #35794B;
}

.transactionList .transaction-comment {
}

.transactionList .transaction-date {
	color: #35794B;
	font-weight: bold;
}

.transactionList .transaction-from {
	display: inline-block;
	margin-right: 5px;
}

.transactionList .transaction-to {
	display: inline-block;
	margin-left: 5px;
}

.transactionList .transaction-value {
	color: #35794B;
	font-weight: bold;
	font-size: 18px;
}