.benefit-list {
	padding-left: 1.3em;
}

.btn-convert {
	margin: 0 0 1em 0;
}

.copyright {
	
}

.error-list {
	background:#ffecec;
	border:1px solid #f5aca6;
	border-radius:10px;
    padding:1em;
    color: #8a1f11;
}
.error-list li {
	margin-left: 1em;
}

.logo {
	background: url("/resources/images/logo-bufunfa.png") no-repeat;
	display : inline-block;
	height : 60px;
	text-indent: -1000em;
	width : 240px; 		/*		adapt size of image logo to this sizes */
	margin: 10 0; 
	border : 0;
}

.headline {
	margin :0;
}

.lead {
	margin-bottom: 10px;
}